* 
{
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
}

body 
{
    /*
        Primary: Royal Purple (#6C63FF)
        Secondary: Sky Blue (#48CAE4)
        Accent: Lemon Yellow (#FDFFB6)
        Neutral: Warm Off-White (#FFFBF2)
    */
    background-color: #FFFBF2;
}

h1, h2, h3, h4, h5, h6, header 
{
    font-family: 'Montserrat',sans-serif;
}

#site_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFFB6;
}

#site_header>div>h2 {
    font-size: 1.8rem;
    margin-left: 20px;
}

#site_header>div {
    display: flex;
    width: 600px;
    align-items: center;
}

#site_header>ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.menu-link {
    background-color: #6C63FF;
    padding: 8px 15px;
    border-radius: 20px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 3px 3px 3px gray;
}

/* apply style to the last child of ul */
#site_header>ul>li:last-child {
    margin-right: 20px;
}

#content {
    display: flex;
    gap: 20px;
}

#site_footer {
    display: flex;
    width: 100%;
}

#site_footer>div:first-child {
    min-width: 25%;
}

#site_footer>div:nth-child(2) {
    min-width: 60%;
}

#site_footer>div:nth-child(3) {
    min-width: 15%;
    display: flex;
    justify-content: space-around;
}

#site_footer>div:nth-child(3)>img {
    width: 32px;
    height: 32px;
}