* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    /*
        Primary: Royal Purple (#6C63FF)
        Secondary: Sky Blue (#48CAE4)
        Accent: Lemon Yellow (#FDFFB6)
        Neutral: Warm Off-White (#FFFBF2)
    */
    background-color: #FFFBF2;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: 'Montserrat', sans-serif;
}

#site_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A2843;
    position: sticky;
    left: 0px;
    top: 0px;
}

#site_header>img {
    height: 100px;
}

#site_header>ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#site_header>ul>li>a:link {
    background-color: #6C63FF;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 3px 3px 3px gray;
}

#site_header>ul>li>a:visited {
    color: red;
}

#site_header>ul>li>a:hover {
    color: yellow;
    background: #6C63FF;
    background: linear-gradient(177deg, rgba(108, 99, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#site_header>ul>li>a:active {
    color: greenyellow;
    background: #6C63FF;
    background: radial-gradient(circle, rgba(108, 99, 255, 1) 0%, rgba(255, 255, 255, 1) 89%);
}

/* apply style to the last child of ul */
#site_header>ul>li:last-child {
    margin-right: 20px;
}

#content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* or
       margin:20px
    */
}

#content>article {
    border: 1px solid black;
    /* padding: 10px; */
}

#content>article>p {
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#content>article>ul {
    list-style-position: inside;
    list-style-image: url('images/hand.png');
}

#content>article>ul>li {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#content>article>header {
    background-color: #6C63FF;
    color: white;
    height: 50px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

#content>article>img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#site_footer {
    display: flex;
    width: 100%;
    background-color: #070c1440;
}

#site_footer>div:first-child {
    min-width: 25%;
}

#site_footer>div:nth-child(2) {
    min-width: 60%;
}

#site_footer>div:nth-child(3) {
    min-width: 15%;
    display: flex;
    justify-content: space-around;
}

#site_footer>div:nth-child(3)>img {
    width: 32px;
    height: 32px;
}